* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: Lato, sans-serif;
}

body {
  background-color: #498cec;
}

.box-weather {
  position: fixed;
  top: calc(50% - 133px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 266px;
}

.box-degrees {
  width: 100%;
  height: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 640px) {
  .box-weather {
    top: calc(50% - 100px);
    height: 200px;
  }

  .box-degrees {
    height: 150px;
  }
}

@media screen and (max-width: 375px) {
  * {
    font-family: "PT Sans", sans-serif;
  }

  body {
    background-color: #7290B9;
  }

  .box-weather {
    height: 220px;
  }
}
